<main>
    <section>
        <form action="/vraag3" method="post">
            <input name="animal" type="text" placeholder="Favorite animal..."/>
            <input name="movie" type="text" placeholder="Favorite movie..."/>
            <input name="education" type="text" placeholder="education..."/>
            <button type="submit">Volgende</button>
        </form>
    </section>
</main>