<main>
    <section>
        <form action="/vraag2" method="post">
            <input name="name" type="text"/>
            <input name="date" type="date"/>
            <input name="colour" type="color"/>
            <button type="submit">Volgende</button>
        </form>
    </section>
</main>