<main>
    <section>
        <form action="/" method="post">
            <input name="naam" type="text"/>
            <input name="datum" type="date"/>
            <input name="kleur" type="color"/>
            <button type="submit"></button>
        </form>
    </section>
</main>