<main>
    <section>
        <form action="/vraag2" method="post">
            <input name="name" type="text" placeholder="Name..."/>
            <input name="date" type="date" placeholder="dd-mm-jjjj"/>
            <input name="colour" type="color"/>
            <button type="submit">Volgende</button>
        </form>
    </section>
</main>