<main>
    <section>
        <form action="/overview" method="post">
            <input name="drink" type="text" placeholder="Favorite drink..."/>
            <label>Favorite season:</label>
            <select name="season">
                <option value="summer">Summer</option>
                <option value="winter">Winter</option>
                <option value="spring">Spring</option>
                <option value="autumn">Autumn</option>
            </select>
            <input name="age" type="text" placeholder="Your age..."/>
            <button type="submit">Volgende</button>
        </form>
    </section>
</main>