body {
    background-color: #f1f6ff ;
}

section {
    margin-bottom: 5px;
}

progress {
    width: 100%;
}


ol {
    width: 200px;
    background: white;
    margin-right: 25px;
}

ol li:nth-child(2n){
    background: rgba(255, 0, 0, 0.35);
}

button, a {
    border-radius: 50px;
    background: #6245ff;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 9px;
}

a:hover {
    color: white;
    text-decoration: none;
}

form {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

input, select {
    border: 1px solid black;
    border-radius: 50px;
    padding: 7px;
    margin-bottom: 20px;
}

input[name='colour'] {
    height: 40px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

@supports (display: flex) {
    form {
        width: unset;
        margin: unset;
        display: flex;
        flex-direction: column;
    }

    .overview div {
        display: flex;
        flex-wrap: wrap;
    }

    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}