<% include ../partials/head.ejs %>
<% include ../partials/header.ejs  %>
<h1>Form sent</h1> <br/>
<a href="/overview"> Overzicht <span style="position: absolute; left: -999999em;">
        van enquête resultaten
    </span></a>
<% include ../partials/footer.ejs %>